{% extends "layout.njk" %}

{% block content %}
<img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" class="imgRecipe" alt="burguer">
 <p class="nameRecipe">Triplo bacon burger</p>
<p class="authorRecipe">Jorge Relato</p>
{% endblock content %}