{% extends "layout.njk" %}

{% block content %}

<div class="recipeHeader" >
    <img src="{{recipe.image}}" class="imgRecipe" alt="burguer">
     <p class="nameRecipe">{{recipe.title}}</p>
    <p class="authorRecipe">{{recipe.author}}</p>
</div>
<div class="recipeInfos">
   
    <div class="ingredients">
    <h1>Ingredientes</h1>
    <ul class="recipeIngredients">
    {%for ingredient in recipe.ingredients%}
    <li><p>
    {{ingredient}}
    </p></li>
    {%endfor%}
    </ul>
    </div>

    <div class="recipePreparation">
    <h1>Modo de preparo</h1>    
    <ul class="recipePreparation">
    {%for preparation in recipe.preparation%}
    <li><p>
    {{preparation}}
    </p></li>
    {%endfor%}
    </ul>
    </div>
    <div class="additionalInfos">
     <h1>Informações adicionais</h1>    
    <p>{{recipe.information}}</p>
    </div>
</div>


{% endblock content %}