{% extends "admLayout.njk" %}

{% block content %}

    <div class="admEdit">
        <h2>Chef: {{chef.name}}</h2>
        <a href="/admin/chef/{{chef.id}}/edit">Editar Chef</a>
        <div class="chefProfile">
            <span style="background: url('{{chef.avatar_url}}') no-repeat center center / cover;"></span>
            <p class="chefName">{{chef.name}}</p>
            <p class="chefNumberRecipes ">{{chef.total_recipes}}
                receitas</p>
        </div>
        <div class="chefRecipes">
            <h2>Receitas</h2>
            <div class="chefRecipesCards">
                {% for recipe in recipes %}
                    <div class="recipeCard">
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.name}}">
                        <div class="cardDescription">
                            <h3>{{recipe.title}}</h3>
                            <p>por
                                {{chef.name}}</p>
                            <a href="/admin/recipe/{{recipe.id}}" id="showRecipe">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}