{% extends "admLayout.njk" %}

{% block content %}

<div class="admEdit">
    <div class="admEditTop">
        <h2>Receita: {{recipe.title}}</h2>
        <a href="/admin/recipe/{{recipe.id}}/edit">Editar Receita</a>
    </div>
    {% include 'recipeDetails.njk' %}
</div>

{% endblock content %}