{% extends 'layout.njk' %}

{% block content %}

    <div class="sitePainel">
        <div class="chefsCards">
            {% for chef in chefs %}
                <div class="chefCard">
                    <span style="background-image: url({{chef.avatar_url}})"></span>
                    <div class="chefLegend">
                        <h3>{{chef.name}}</h3>
                        <p>{{chef.total_recipes}}
                            receitas</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}