{% extends "layout.njk" %}

{% block nav %}
    <form action="/index" method="GET" class="search">
        <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
{% endblock nav %}

{% block content %}

    <div id="cabecalho">
        <div id="box">
            <div id="textContent">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div id="imageContent">
                <img src="/img/chef.png" alt="Chef">
            </div>
        </div>
    </div>

    <div id="receitas">
        <div id="mostViewed">
            <h2>Mais acessadas</h2>
        </div>
        <div class="cartoes">
            {%for recipe in recipes %}
                <div class="cartao" id="{{recipe.id}}">
                    <img src="/img/{{recipe.title}}.png" alt="{{recipe.title}}">
                    <p id="nome">{{recipe.title}}</p>
                    <p id="autor">{{recipe.author}}</p>
                </div>
                {%endfor%}
            </div>
        </div>

    {%endblock content%}