{% extends "layout.njk" %}

{% block content %}

    <div class="cartoes">
        {% for recipe in recipes %}
            <div class="cartao recipe" id="{{recipe.title}}">
                <img src="{{recipe.image}}" alt="{{recipe.id}}">
                <p id="nome">{{recipe.title}}</p>
                <p id="autor">{{recipe.author}}</p>
            </div>
            {%endfor%}
        </div>

    {% endblock content %}