<!DOCTYPE html>
<html lang="en">
<head>
{%block head%}{%endblock head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://bit.ly/2zTleuY" type="image/x-icon" />
    <title>Foodfy</title>
</head>
<body>

    <header class="admMenu">
        <img src="/img/admLogo.png" alt="Logomarca">     
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
    </header>

     <div class="content">

        {% block content %}
        {% endblock content %}
    </div>

    <script src="/js/script.js"></script>
</body>
</html>